#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
}

#loading-screen .background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* https://loading.io/css/ */

#loading-screen .spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}

#loading-screen .spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-screen-spinner 1.2s linear infinite;
}

@keyframes loading-screen-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
